<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JustifyX Blog - About</title>
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=St+Nicholas&display=swap">
    <link rel="stylesheet" href="/path/to/style.css">
</head>
<body>

<div id="loader">
    <div class="loading-container">
        <img src="/static/Winter.gif" alt="Loading...">
        <p class="loading-text">Loading<span class="dot1"></span><span class="dot2"></span><span class="dot3"></span></p>
    </div>
</div>

<video id="myVideo" src="/static/NeverGonna.mp4" autoplay loop muted controls="false" oncontextmenu="return false;" onkeydown="return false">
    Your browser does not support the video tag.
</video>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('myVideo');
        var loader = document.getElementById('loader');

        video.addEventListener('canplay', function () {
            loader.style.display = 'none';
            video.style.display = 'block';
        });

        video.addEventListener('pause', function (e) {
            e.preventDefault();
            video.play();
        });

        video.volume = 1;
        video.muted = false;

        video.addEventListener('volumechange', function (e) {
            e.preventDefault();
            video.muted = false;
        });

        function adjustVideoSize() {
            video.style.width = window.innerWidth + 'px';
            video.style.height = window.innerHeight + 'px';
        }

        adjustVideoSize();
        window.addEventListener('resize', adjustVideoSize);
    });
</script>

</body>
</html>
